.scene {
	background-color: var(--dark);
	width: 8.5vw;
	height: 11.9vw;
	perspective: 600px;
	margin: 0.75vw;
	border-radius: 0.75vw;
}

.card {
	width: 100%;
	height: 100%;
	position: relative;
	transform-style: preserve-3d;
	opacity: 0;
}

.card-face {
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.front {
	background-size: 100%;
	transform: rotateY(180deg);
}

.back {
	background-image: url(../cards/1B.svg);
	background-size: 100%;
}

/* 750 and 1000 edit these with js */
.card-in {
	--fade: 750ms;
	--flip: 1000ms;
	transition: opacity var(--fade), transform var(--flip) var(--fade);
	transform: rotateY(-180deg);
	opacity: 1;
}

.card-in-no-ani {
	transform: rotateY(-180deg);
	opacity: 1;
}

.hand {
	display: inline-flex;
	border: 0.8vw solid rgba(255, 255, 255, 0.3);
	border-radius: 1vw;
}

.label {
	color: rgba(255, 255, 255, 0.7);
	font-family: 'Montserrat', monospace;
	font-weight: 900;
	padding-top: 2vw;
	font-size: 1.8vw;
	width: 1.8vw;
	word-wrap: break-word;
	text-align: center;
	text-transform: uppercase;
	line-height: 0.9;
}

.player .label {
	margin-left: 1vw;
	color: var(--player);
}

.banker .label {
	margin-right: 1vw;
	color: var(--banker);
}

.gap {
	width: 1vw;
}
