#modal-container {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
	display: none;
	justify-content: center;
	align-items: center;
}
#help-modal {
	height: 30vw;
}

#shuffle-modal {
}

.modal-btn {
	width: 80%;
	font-size: 1.8vw;
	margin-top: 1vw;
	border: none;
	padding: 0.8vw;
	font-family: 'Montserrat', monospace;
	font-weight: 900;
	background-color: black;
	color: white;
	position: relative;
	text-transform: uppercase;
}

.modal-btn:hover {
	transform: scale(1.05);
	transition: transform 300ms;
}

.modal-btn:active {
	top: 3px;
}

.popup {
	background-color: white;
	height: 10vw;
	width: 30vw;
	border-radius: 1vw;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 1.8vw;
	text-shadow: none;
	text-transform: uppercase;
	font-family: 'Montserrat', monospace;
	font-weight: 900;
}

.popup img {
	width: 90%;
}
